<!-- views/index.ejs -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo danh sách đơn</title>

        <%- include('./partials/head'); -%>

        <link rel="stylesheet" href="/css/table.css" />
    </head>

    <body>
        <!-- nav -->
        <%- include('./partials/nav'); -%>
        <!-- Bootstrap Spinner -->
        <div class="box-spinner">
            <div id="spinner" class="spinner-border text-primary mt-3" role="status" style="display: none"></div>
        </div>

        <div class="container mb-3 mt-3">
            <div class="row">
                <h1 class="text-center">Chấm công</h1>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <input
                                data-bs-toggle="tooltip"
                                data-bs-title="Chọn ngày làm (không chọn T7&CN)"
                                class="form-control mb-3 ngay-lam-input"
                                type="text"
                                name="daterange"
                                value="01/01/2018 - 01/15/2018"
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label>Người làm</label>
                            <select class="form-select nguoi-lam-input" name="">
                                <% if (user.role === 'admin') { %>
                                <% users.forEach(function(u) { %>
                                <option value="<%= u._id %>"><%= u.fullName || u.username %></option>
                                <% }); %>
                                <% }else { %>
                                <option value="<%= user._id %>" selected><%= user.fullName || user.username %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label>Buổi sáng</label>
                            <select class="form-select gio-buoi-sang-input" name="">
                                <option value="0" selected>Không làm</option>
                                <option value="+60">Ca 1 và Ca 2</option>
                                <option value="-60">Ca 1 hoặc Ca 2</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label>Buổi chiều</label>
                            <select class="form-select gio-buoi-chieu-input" name="">
                                <option value="0" selected>Không làm</option>
                                <option value="+60">Ca 3 và Ca 4</option>
                                <option value="-60">Ca 3 hoặc Ca 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label>Giờ làm thêm</label>
                            <input
                                class="form-control gio-lam-them-input"
                                value="0"
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-sm btn-outline-primary them-du-lieu-btn">
                                <i class="bi bi-plus"></i>
                                Thêm dữ liệu
                            </button>
                        </div>
                    </div>

                    <!-- tong gio -->
                    <div class="row mb-3">
                        <div class="col">
                            <p class="form-control gio-lam-them-input" disabled>
                                Tổng giờ làm thêm:
                                <strong class="tong-gio-lam-them">0</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/update-ngay-cong-modal'); -%>
        <%- include('./partials/footer'); -%>

        <script src="/js/cham-cong.js"></script>
    </body>
</html>
