<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Excel Table</title>
        <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
        ></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

        <style>
            body {
                font-family: 'Poppins', sans-serif;
            }
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Tạo nhanh danh sách đơn noà</h1>
            </div>

            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="mb-3">
                <div class="mb-3">
                    <label for="file" class="form-label">Choose file</label>
                    <input type="file" class="form-control" id="file" name="file" />
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

            <form id="createDS" action="/" method="post" enctype="multipart/form-data" class="mb-3">
                <div class="mb-3">
                    <label for="filename" class="form-label">Enter filename show in toastr</label>
                    <input type="text" class="form-control" id="filename" name="filename" />
                </div>
                <button type="submit" class="btn btn-primary">Tạo danh sách noà</button>
            </form>
        </div>
        <div id="DS" class="container">
            <!-- table -->
            <!-- <table class="text-center">
                <thead>
                    <tr>
                        <td colspan="6" class="text-start fw-bold">Trường Đại học Tôn Đức Thắng</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-start fw-bold">Phòng Đại học</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center h3">DANH SÁCH BÀN GIAO ĐƠN</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-start">Ngày nhận: <%= dateSent %></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-start"></td>
                    </tr>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Số BN</th>
                        <th class="text-center">MSSV</th>
                        <th class="text-center">Họ và tên</th>
                        <th class="text-center">Người giải quyết đơn</th>
                        <th class="text-center">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(row) { %>
                    <tr>
                        <% if (Object.keys(row).length===2) { %>
                        <td class="text-center fw-bold" colspan="4"><%= row['Loại đơn (Tên đơn)'] %></td>
                        <td class="text-center fw-bold"><%= row['Người giải quyết đơn'] %></td>
                        <td class="text-center"></td>
                        <% } else { %>
                        <td class="text-center"><%= row['STT'] %></td>
                        <td class="text-center"><%= row['Số BN'] %></td>
                        <td class="text-center"><%= row['MSSV'] %></td>
                        <td class="text-center"><%= row['Họ và tên'] %></td>
                        <td class="text-center"><%= row['Người giải quyết đơn'] %></td>
                        <td class="text-center"><%= row['Ghi chú'] %></td>
                        <% } %>
                    </tr>
                    <% }); %>

                    <tr>
                        <td colspan="6" class="text-start">Tổng đơn: <%= totalDon %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="text-center"><%= dateReceive %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="text-center">Người lập bảng</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="text-center pt-5"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="text-center">Nguyễn Duy Khánh</td>
                        <td></td>
                    </tr>
                </tbody>
            </table> -->
        </div>

        <footer class="container">
            <p class="text-end mt-5">2023 | Copyright from nguyenhuy158</p>
        </footer>

        <script>
            function createTable(data, dateSent, dateReceive, totalDon) {
                var table = document.createElement('table')
                table.className = 'text-center'

                // Add thead
                var thead = table.createTHead()
                var theadContent = `
                <tr>
                    <td colspan="6" class="text-start fw-bold">Trường Đại học Tôn Đức Thắng</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-start fw-bold">Phòng Đại học</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center h3">DANH SÁCH BÀN GIAO ĐƠN</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-start">Ngày nhận: ${dateSent}</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-start"></td>
                </tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Số BN</th>
                    <th class="text-center">MSSV</th>
                    <th class="text-center">Họ và tên</th>
                    <th class="text-center">Người giải quyết đơn</th>
                    <th class="text-center">Ghi chú</th>
                </tr>
                `
                thead.innerHTML = theadContent

                // Add tbody
                var tbody = table.createTBody()

                // Add data rows
                data.forEach(function (row) {
                    var tr = document.createElement('tr')

                    if (Object.keys(row).length === 2) {
                        tr.innerHTML = `
                    <td class="text-center fw-bold" colspan="4">${row['Loại đơn (Tên đơn)']}</td>
                    <td class="text-center fw-bold">${row['Người giải quyết đơn']}</td>
                    <td class="text-center"></td>
                    `
                    } else {
                        tr.innerHTML = `
                    <td class="text-center">${row['STT']}</td>
                    <td class="text-center">${row['Số BN']}</td>
                    <td class="text-center">${row['MSSV']}</td>
                    <td class="text-center">${row['Họ và tên']}</td>
                    <td class="text-center">${row['Người giải quyết đơn']}</td>
                    <td class="text-center">${row['Ghi chú'] || ''}</td>
                    `
                    }

                    tbody.appendChild(tr)
                })

                var tfooterContent = `
                <tr>
                    <td colspan="6" class="text-start">Tổng đơn: ${totalDon}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="3" class="text-center">${dateReceive}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="3" class="text-center">Người lập bảng</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="3" class="text-center pt-5"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="3" class="text-center">Nguyễn Duy Khánh</td>
                    <td></td>
                </tr>
                `

                tbody.appendChild(tfooterContent)

                $('#DS').html(table)
            }
        </script>

        <script>
            toastr.options = {
                closeButton: true,
                debug: false,
                newestOnTop: false,
                progressBar: true,
                positionClass: 'toast-top-right',
                preventDuplicates: false,
                onclick: null,
                showDuration: '1000',
                hideDuration: '10000',
                timeOut: '5000',
                extendedTimeOut: '1000',
                showEasing: 'swing',
                hideEasing: 'linear',
                showMethod: 'fadeIn',
                hideMethod: 'fadeOut',
            }

            $('#uploadForm').on('submit', function (e) {
                e.preventDefault()

                var formData = new FormData(this)

                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.error) {
                            toastr.error(data.message)
                        } else {
                            toastr.success(data.message)

                            $('#createDS input').val(data.filename)
                        }
                    },
                    error: function (error) {
                        toastr.error(error.responseJSON?.message)
                    },
                })
            })

            $('#createDS').on('submit', function (e) {
                e.preventDefault()

                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: { filename: $('#filename').val() },
                    success: function (data) {
                        if (data.error) {
                            toastr.error(data.message)
                        } else {
                            toastr.success(data.message)
                            createTable(data.data, data.dateSent, data.dateReceive, data.totalDon)
                        }
                    },
                    error: function (error) {
                        toastr.error(error.responseJSON?.message)
                    },
                })
            })
        </script>
    </body>
</html>
